<div id='home'>
  <h2>12.01.2013</h2>
  <div id='slideshow'>
      <%= image_tag 'home-slide1.jpg'%>
      <%= image_tag 'home-slide2.jpg'%>
      <%= image_tag 'home-slide3.jpg'%>
  </div>
  <p>The International of Brighton</p>
  <p>Georgian Room</p>
</div>
