<div id='home'>
  <h1>Phuong & James' Wedding</h1>
  <h2>12.01.2013</h2>
  <ul>
    <li>
      <%= image_tag 'home-slide1.jpg'%>
    </li>
    <li>
      <%= image_tag 'home-slide2.jpg'%>
    </li>
    <li>
      <%= image_tag 'home-slide3.jpg'%>
    </li>
  </ul>
  <p>The International of Brighton</p>
  <p>Georgian Room</p>
</div>
