<div id='rsvp'>
  <h1>Please let us know if you are available to join us on Saturday, January 12th, 2013.</h1>
  <a class='btn btn-success'>Yes</a>
  <a class='btn btn-danger'>No</a>
  <a class='btn btn-warning'>Need to Confirm</a>
  <p>{If 'Yes' is clicked, link to another page requesting contact details -> Name, Phone number, Email, Postal Address}</p>
</div>
