<div id='rsvp'>
  <h1>Please let us know if you are available to join us on Saturday, January 12th, 2013.</h1>
  <div class='btn-group'>
    <a id='yes' href='/rsvp/yes' class='btn btn-large btn-darkgreen'>Yes</a>
    <a id='no' href='/rsvp/no' class='btn btn-large btn-darkred'>No</a>
    <a id='to-confirm' href='/rsvp/to-confirm' class='btn btn-large btn-orange'>Need to Confirm</a>
  </div>
  <%= render 'rsvp_form' %>
  <div class='clearfix'></div>
</div>
<% content_for :footer do %>
<script>
  $(document).ready(function() {
    $('.btn-group a').click(function(e) {
      $('.btn-group .selected').removeClass('selected');
      $('form.hidden').removeClass('hidden');
      $(this).addClass('selected');
      $('input#rsvp_status').attr('value', $(this).text());
      e.preventDefault();
    });
  });
</script>
<% end %>
