<div id='gifts'>
  <h1>As we have plenty of things for our home already, we would like you to consider the following gifts.</h1>
  <h1>A gift to charity – Our chosen charity is the <a href='https://www.redcross.org.au/Donations/onlineDonations.asp'>Red Cross.</a></h1>
  <h1>An experience</h1>
  <ul>
    <li><a href='http://www.redballoon.com.au/gift-occasions/wedding#search/?cc=au;i=1;m_products_per_page=25;q=*;q1=Gift+Occasions;q2=Wedding;q3=Victoria;sort=relevance;tp=j;x1=occ.occasionname;x2=occ.occasionvalue;x3=loc.locationname'>Red Balloon</a></li>
    <li><a href='http://www.scoopon.com.au/melbourne?gclid=CPiWwb_-orACFYhLpgod02F9Wg'>Scoopon</a></li>
    <li><a href='http://www.adrenalin.com.au/all/'>Adrenalin.com</a></li>
  </ul>
  <p>A gift of money – A wishing well will be available on the day.</p>
</div>
