// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Buttons =================================================== */

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 0 20px;
  margin-bottom: 0;
  font: {
    weight: bold;
    family: $basefont;
  }
  @include font-size(12);
  line-height: $baselineheight;
  color: $white;
  text-align: center;
  vertical-align: middle;
  background-color: $buttonbackground;
  @include greygrad;
  @include rounded(5px);
  cursor: pointer;
  *margin-left: .3em;
  border: none;

  &:visited,
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

input[type="submit"].btn:hover { }

.btn:first-child { *margin-left: 0; }

.btn.btn-orange {
  border: 1px solid #AC740C;
  @include vertical(#D1911A, #A7710C);
  @include box-shadow(inset 0 1px 0 0 #e4a83a);
  text-shadow: 0 1px 0 #8A5B05;
  &:active,
  &:focus,
  &.selected {
    -moz-box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eeeeee;
    -webkit-box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #895d0b, inset 0 0 8px 4px #895d0b, 0 1px 1px 0 #eeeeee;
    border: 1px solid #99670B;
  }
  &:hover {
    @include vertical(#98670B, #B6801B);
    @include box-shadow(inset 0 1px 0 0 #db9d29);
  }
}


.btn.btn-darkred {
  border: 1px solid #6F0606;
  @include vertical(#981010, #6B0606);
  @include box-shadow(inset 0 1px 0 0 #c41717);
  text-shadow: 0 1px 0 #4B0202;
  &:active,
  &:focus,
  &.selected {
    -moz-box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eeeeee;
    -webkit-box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #4d0505, inset 0 0 8px 4px #4d0505, 0 1px 1px 0 #eeeeee;
    border: 1px solid #5C0505;
  }
  &:hover {
    @include vertical(#5C0505, #7E1010);
    @include box-shadow(inset 0 1px 0 0 #a91919);
  }
}

.btn.btn-darkgreen {
  border: 1px solid #315912;
  @include vertical(#497C22, #2F5511);
  @include box-shadow(inset 0 1px 0 0 #568a2e);
  text-shadow: 0 1px 0 #1E3909;
  &:active,
  &:focus,
  &.selected {
    -webkit-box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #213b0d, inset 0 0 8px 4px #213b0d, 0 1px 1px 0 #eeeeee;
  }
  &:hover {
    @include vertical(#28480F, #3E651F);
    @include box-shadow(inset 0 1px 0 0 #568a2e);
  }
}

// disabled

.btn-disabled {
  @include opacity(.5);
  cursor: default;
}

.btn-error {
  @include errorgrad;
  color: $white;

  &:visited,
  &:hover { color: $white; }
}

// info

.btn-info {
  @include infograd;
  color: darken($infocolor, 50%);

  &:visited,
  &:hover { color: darken($infocolor, 50%); }
}

// inverse

.btn-inverse {
  @include inversegrad;
  color: $white;

  &:visited,
  &:hover { color: $white; }
}

// primary

.btn-primary {
  @include basegrad;

  &:visited,
  &:hover { color: $white; }
}

// success

.btn-success {
  @include successgrad;
}

// warning

.btn-warning {
  @include warninggrad;
}

// sizes

.btn-extlarge {
  padding: 0 20px;
  @include font-size(24);
  line-height: 38px;
  @include rounded(6px);
}

.btn.btn-large {
  *padding: {
    top: 7px;
    bottom: 7px;
  }
}

.btn-large {
  padding: 0 20px;
  @include font-size(19);
  line-height: 38px;
  @include rounded(6px);
}

.btn-small {
  padding: 0 10px;
  @include font-size(11);
  line-height: 16px;
}

.btn-mini {
  padding: 0 5px;
  @include font-size(11);
  line-height: 14px;
}

.btn-group {
  float: left;
  width: 100%;
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: $baseline;

  .btn {
    position: relative;
    float: left;
    margin-right: 10px;

    &:first-child {
    }

    &:last-child { 
      margin-right: 0;
    }
  }
}

.btn-toolbar {
  clear: both;
  margin: {
    top: $baselineheight / 2;
    bottom: $baselineheight / 2;
  }

  .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}
