// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

#main {
  width: 320px;
  margin: 20px auto;
  padding: 0 20px 20px;
  //@include striped-background(#932e44);
  background: #932e44 image-url('bg.png') repeat;
  @include rounded(5px);
  color: $white;
}
#header {
  position: relative;
  width: 100%;
  min-height: 52px;
  padding: 20px 0 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
#header .navigation {
  position: absolute;
  top: 18px;
  right: 0;
  font-size: 24px;
}
#header > ul {
  height: 21px;
  min-height: 21px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  @include transition(height 0.35s ease);
}
#header > ul.open {
  height: 105px;
}

#main #home ul {
  padding: 0;
  list-style: none;
}
#slideshow { 
  position: relative; 
  width: 100%;
  margin-bottom: 20px;
  max-width: 450px;
  @include box-shadow(0 0 20px rgba(0,0,0,0.4)); 
  overflow: hidden;
}
#slideshow > img { 
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: inherit;
}
#slideshow img:first-child {
  position: relative;
  display: block;
  float: left;
}
#main #home h1 {
  text-align: center;
  font-size: 24px;
}
#main #home h2 {
  text-align: center;
  font-size: 24px;
}
#main #home p {
  text-align: center;
  font-size: 24px;
}
