// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

#main {
  width: 280px;
  margin: 20px auto;
  padding: 0 20px 20px;
  background: rgb(29,20,65); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(29,20,65,1) 0%, rgba(11,31,84,1) 20%, rgba(11,31,84,1) 80%, rgba(29,20,65,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(29,20,65,1)), color-stop(20%,rgba(11,31,84,1)), color-stop(80%,rgba(11,31,84,1)), color-stop(100%,rgba(29,20,65,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(29,20,65,1) 0%,rgba(11,31,84,1) 20%,rgba(11,31,84,1) 80%,rgba(29,20,65,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(29,20,65,1) 0%,rgba(11,31,84,1) 20%,rgba(11,31,84,1) 80%,rgba(29,20,65,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(29,20,65,1) 0%,rgba(11,31,84,1) 20%,rgba(11,31,84,1) 80%,rgba(29,20,65,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(29,20,65,1) 0%,rgba(11,31,84,1) 20%,rgba(11,31,84,1) 80%,rgba(29,20,65,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1441', endColorstr='#1d1441',GradientType=1 ); /* IE6-9 */
  //@include striped-background(#932e44);
  @include rounded(65px);
  @include box-shadow(inset 0 0 65px 20px rgba(0,0,0,0.4)); 
  color: $white;
}
#header {
  position: relative;
  width: 100%;
  min-height: 22px;
  padding: 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
#header > h1 {
  margin-bottom: 0;
  font-size: 24px;
  font-size: 2.4rem;
}
#header .navigation {
  position: absolute;
  top: 18px;
  right: 0;
  font-size: 32px;
}
#header > ul {
  height: 0;
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  overflow: hidden;
  @include transition(height 0.35s ease);
}
#header > ul li {
  padding: 5px 20px;
}
#header ul li.active {
  @include background-alpha($black, 0.2);
  @include rounded(8px);
}
#header > ul.open {
  height: 165px;
}

#main #home ul {
  padding: 0;
  list-style: none;
}
#slideshow { 
  position: relative; 
  width: 100%;
  margin: 0 auto 20px;
  max-width: 450px;
  @include box-shadow(0 0 20px rgba(0,0,0,0.4)); 
  overflow: hidden;
}
#slideshow > img { 
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: inherit;
}
#slideshow img:first-child {
  position: relative;
  display: block;
  float: left;
}
#main > h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}
#main #home h2 {
  text-align: center;
  font-size: 24px;
}
#main #home p {
  text-align: center;
  font-size: 24px;
}
.clearfix {
  @include clearfix();
}
form.hidden, #rsvp form.hidden {
  height: 0;
  overflow: hidden;
}
#rsvp form {
  float: left;
  width: 100%;
  height: 400px;
  @include transition(height 0.35s ease);
}
