// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

#header > ul, #main {
  width: 320px;
  margin: 10px auto;
}
#header {
  list-style: none;
  padding: 20px 20px 20px;
}
#main {
  padding: 0 20px 20px;
  //@include striped-background(#932e44);
  background: #932e44 image-url('bg.png') repeat;
  @include rounded(5px);
  color: $white;
}
