<div id='out-of-towners'>
  <h1>Accomodation</h1>
  <p><a href='https://www.google.com.au/search?q=accommodation+brighton+melbourne'>Click here</a> to search for accommodation, there are a number of hotels as well as serviced apartments in the area.</p>
  <h1>Australian Open 2013</h1>
  <p>Matches begin on January 14 th.</p>
  <h1>On sale dates - Available at Ticketek</h1>
  <h2>Single Session tickets and ground passes</h2>
  <p>On sale at 9:00 am (AEST) on Monday 10 October 2011</p>
  <h2>Series Packages</h2>
  <p>On sale from 9:00 am (AEST) Wednesday 5 October 2011 until 5:00 pm (AEST) Sunday 9 October 2011</p>
  <h1>Food</h1>
  <p>for those staying in the area or just looking for a café to pass the time, here are <a href='http://yourrestaurants.com.au/cuisine_suburb/?action=home&url_landing=vic&url_region=melbourne&url_criteria=brighton'>some suggestions.</a></p>
  <p>If you are planning to spend some time in Melbourne around our wedding date, you might want to see what’s on</p>
  <ul>
    <li><a href='http://www.victoria.aussietrueblue.com/what-to-do-in-Melbourne-January-2013.php'>What’s on in Melbourne</a></li>
    <li><a href='http://www.littlemelbourne.com.au/to-do/concerts-performances/ovo-cirque-du-soleil-melbourne-opens-17th-january-2013.html'>Cirque du Soleil</a></li>
    <li><a href='http://www.onlymelbourne.com.au/melbourne.php?id=784'>Only Melbourne (try closer to the date)</a></li>
  </ul>
</div>
